#pageContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 4px;
}

.moduleBox {
  align-items: center;
  background-color: #e2e2e2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 15px;
  min-height: 200px;
  padding: 15px 5px;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  width: 80%;
}

.button {
  border-radius: 4px;
  height: 40px;
  width: 80px;
}

#colorBox {
  background: #fff;
  border: 1px solid #fff;
  height: 100px;
  width: 100px;
}

.butA { background-color: lightcoral; }
.butB { background-color: lightblue; }
.butC { background-color: lightgreen; }

.table { width: 240px; }
.table td { text-align: left; width: 120px; }

.label { margin: 0 10px; }
.input { margin-right: 10px; }
.button { height: 30px; width: 80px; }
